name: Build & deploy site

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout lib with submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive
        
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
       
    - name: Install Mistune
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install mistune

    - name: Build pages
      run: |
        python build.py

    - name: Upload pages artifact
      uses: actions/upload-pages-artifact@v1
      with:
        path: dist/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v2